<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Project Home Page</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <style>
        body {
            padding-top: 56px;
            background-color: #f7f9fa;
        }
        .hero {
            background: url(https://wallpapers.com/images/featured/4k-processor-5to0mfweceqzbzyv.jpg);
            padding: 150px 0;
            background-size: 40%;
            height: 400px;
            text-align: center;
            color:#fcfbfb;
        }
        .feature-icons {
            font-size: 2.5rem;
            color: #007bff;
        }
        .footer {
            background: #343a40;
            color: #ffffff;
            padding: 20px 0;
            text-align: center;
        }
    </style>
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">My Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Hero Section -->
    <header class="hero">
        <div class="container">
            <h1 class="display-4"><b>Welcome to  My Project</b></h1><br>
            <!-- <img src="static\files\ml.jpeg" alt="project photo" height=400 width=600><br><br> -->
            <a href="/project" class="btn btn-primary btn-lg">START </a><br><br>
        </div>
    </header>

    <!-- Profile Section -->
    <section id="about" class="py-5">
        <div class="container">
            <h1 style="color: #ed6110;">Description</h1><br>
            <p style="text-align: left; font-size: x-large; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  ;">                       
                Project Title: PredictX</p><br><br>
            
            <p style="text-align: left; color: #ed6110; font-size: x-large; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  ;">    
                Overview:</p><br>
                <p style="text-align: left; font-size: x-large; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  ;">
                PredictX is an advanced machine learning project designed to leverage Python for accurate and insightful 
                predictions across various domains. By employing state-of-the-art algorithms and data processing techniques, 
                PredictX aims to deliver actionable insights and forecasts to drive informed decision-making.</p><br><br><br>
                
                <p style="text-align: left; color: #ed6110; font-size: x-large; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  ;">    
                Key Features:</p><br><br>
                <p style="text-align: left; color:red; padding-left: 50px; font-size: x-large; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  ;">
                Data Preprocessing:</p>
                <p style="text-align: left; padding-left: 50px; font-size: x-large; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  ;"> 
                Efficiently cleans and transforms raw data into a suitable format for analysis, 
                   ensuring high-quality input for machine learning models.</p><br><br>
                <p style="text-align: left; color:red; padding-left: 50px; font-size: x-large; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  ;">
                Predictive Modeling:
                <p style="text-align: left; font-size: x-large; padding-left: 50px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  ;">    
                    Utilizes sophisticated algorithms such as regression, classification, and 
                   time-series analysis to generate reliable predictions.</p><br><br>
                <p style="text-align: left; color:red; padding-left: 50px; font-size: x-large; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  ;">
                Model Evaluation:</p>
                <p style="text-align: left; font-size: x-large; padding-left: 50px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  ;">
                    Implements rigorous testing and validation techniques to assess model performance 
                   and ensure accuracy.</p><br><br>
                <p style="text-align: left; color:red; padding-left: 50px; font-size: x-large; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  ;">
                Visualization:</p>
                <p style="text-align: left; font-size: x-large; padding-left: 50px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  ;">
                    Provides intuitive visualizations to present prediction results and trends in an easily
                   understandable manner.</p><br><br><br>
                
                <p style="text-align: left; color: #ed6110; font-size: x-large; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  ;">
                Technologies Used:</p><br>
                <p style="text-align: left; font-size: x-large; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  ;">
                -Python Libraries: Pandas, NumPy, Scikit-learn, TensorFlow, Keras<br>
                - Data Visualization: Matplotlib, Seaborn<br>
                - Deployment: Flask for web-based model integration</p><br><br><br>
                
            <p style="text-align: left; color: #ed6110; font-size: x-large; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  ;">
                Objective:</p><br>
            <p style="text-align: left; font-size: x-large; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  ;">
                The primary goal of PredictX is to harness the power of machine learning to predict future outcomes based on
                historical data, offering valuable insights for business strategy, risk management, and operational efficiency.<br><br>
                
                Feel free to adjust or expand on this description based on the specifics of your project, such as the type of
                data you're working with, the exact algorithms or models you're using, and any additional features or goals.</p><br><br><br><br>
            
            
            <h2 style="color: orangered;">Profile</h2><br>
            <img src="static\files\kuldeep.jpeg" alt="My Image" height=400 width=300 style="float: left;" class="img-fluid rounded-circle">
            <p style="text-align: center; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  ; margin-left: 400px; font-size:x-large;">
                Hello! I’m Harsh Singh, a passionate software developer with a keen interest in innovative web technologies.
                My project, WebConnect, aims to revolutionize the way we interact with online platforms by providing seamless, 
                intuitive user experiences through cutting-edge AI and design. Through real-time data analysis and user-centric 
                design, I’m excited to enhance how people connect and collaborate online. Join me on this journey as we explore 
                the future of digital interaction together!<br><br>
                Feel free to adjust the details to better fit your personal background and the specifics of your project!</p>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="py-5">
        <div style="text-align: center;" class="container">
            <a href="https://github.com/kuldeep-26" target="_blank" class="btn btn-outline-secondary">
              <i class="fab fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/harsh-singh-6a1273319" target="_blank" class="btn btn-outline-secondary">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="https://instagram.com/kuldeep_.26" target="_blank" class="btn btn-outline-secondary">
                <i class="fab fa-instagram"></i>
            </a><br><br>
            <h2>Thank You For Visiting.</h2>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <p>&copy; 2024 My Project. All rights reserved.</p>
    </footer>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Font Awesome (for icons) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
</body>
</html>
